html, body {
    margin-top: 0px;
    margin-left: 0px;
    height: 100%;
}

/*body {
    background: #9ab7e3 url(../../images/bkgrdimage-light.jpg) repeat left top;
    margin: 0px;
	background-size: 100% 100%;
    padding: 0px;
    width: 100%;
    font-family: Arial;
    color: #666666;
}*/
.welcome img {
    float: right;
	
	
}

h1 {
    font-weight: bold;
    font-size: 16pt;
    font-family: Arial;
    font-style: normal;
    color: #3c3c3c;
}

h2 {
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial;
    font-style: normal;
    color: #3c3c3c;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
}

.em {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: italic;
}

.em2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: italic;
    color: #F00;
    font-weight: bold;
}

.confighead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #F00;
}

h2.config {
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial;
    font-style: normal;
    color: #00F;
}

.button a:link {
    color: #FFF;
    text-decoration: none;
}

.button a:visited {
    color: #FFF;
    text-decoration: none;
}

.button a:hover {
    color: #FFF;
    text-decoration: none;
}

.button a:active {
    color: #FFF;
    text-decoration: none;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
}



.menuhead {
    margin-top: 5px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    background-color: #3c3c3c;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    padding: 10px 15px;
    text-decoration: none;
    text-align: left;
    position: relative;
    behavior: url(styles/PIE.php);
}

.menuhead2 {
    margin-top: 5px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    background-color: #000;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    padding: 10px 15px;
    text-decoration: none;
    text-align: left;
    position: relative;
    behavior: url(styles/PIE.php);
}


/*This controls the language selector drop down menu*/
.dropdown {
	margin-top: 4.5px;
    margin-bottom: 6px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    background-color: #0E76AE;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 11px;
    text-decoration: none;
    text-align: left;
    position: relative;
    behavior: url(styles/PIE.php);
    border: 2px solid #AAA;
	
	
}

/*This controls the top and left side navbar container*/
.navbar_navbar-default{
	color: #FFF;
	background-color: #e5e5e5;
	width: relative;
	border: 0px solid #AAA;
	border-radius: 0px 0px 8px 8px;	
}

.hint {
    padding-left: 1em;
    cursor: pointer;
}

span.hint {
    padding: .3em;
    background-color: #0E76AE;
    border: 1px solid #03202f;
    border-radius: .3em;
    font-size: 1.2em;
    color: #FFF;
}

    span.hint:hover {
        background-color: #5c9ccc;
        color: #000;
    }

.required, .requiredInstructions {
    color: #A00;
}

    .required:after {
        content: "*";
        font-size: 1.2em;
        color: #A00;
        font-weight: bolder;
    }

span.required {
    color: #fff;
}

.nav {
    margin-left: 10px;
}

    .nav .footer {
        margin-left: 10px;
    }

.loading {
    position: relative;
    border: thick solid #5c9ccc;
    padding: 2px;
    background-color: #CCF;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 500px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    background-repeat: repeat;
    -webkit-transition: all 1s ease-in-out 0.1s;
    -moz-transition: all 1s ease-in-out 0.1s;
    -ms-transition: all 1s ease-in-out 0.1s;
    -o-transition: all 1s ease-in-out 0.1s;
    transition: all 1s ease-in-out 0.1s;
}

/*This is for the buttons below the map on the search data page*/
.btn-btn-default {
	margin-top: 4px;
    margin-bottom: 6px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    background-color: #0E76AE;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 11px;
    text-decoration: none;
    text-align: left;
    position: relative;
    behavior: url(styles/PIE.php);
    border: 2px solid #AAA;
}
.btn-group
/*This button is for the "Change Authority" button and similar buttons*/
.button {
    behavior: url(styles/PIE.php);
    margin-top: 5px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    background-color: #0E76AE;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 11px;
    text-decoration: none;
    text-align: left;
    position: relative;
}
.button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    border: 0;
}

.button:active {
    position: relative;
    top: 1px;
}


/*This button is for the "Back to the BYU" button on the top menu*/
.button2 {
    margin-top: -1px;
    margin-bottom: 6px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    background-color: #0E76AE;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 11px;
    text-decoration: none;
    text-align: left;
    position: relative;
    behavior: url(styles/PIE.php);
    border: 2px solid #AAA;
}

    
.button2:hover {
    background-color: #3C3C3C;
	text-decoration: none;
	color: white;
}
	
.button:hover {
    background-color: #3C3C3C;
	color: #FFFF;
	text-decoration: none;

}
	
	
a.reversed:link {
    color: #000;
    text-decoration: none;
}

a.reversed:visited {
    color: #000000;
    text-decoration: none;
}

a.reversed:hover {
    color: #0E76AE;
    text-decoration: none;
}

a.reversed:active {
    color: #FFF;
    text-decoration: none;
}

/*Forms, this also changes the buttons on the main screens*/
input, select, button {
    font-size: 1.3em;
    padding: .2em;
    border-radius: .2em;
    border: 2px solid #AAA;
	
}

.long {
    width: 20em;
}

.medium {
    width: 15em;
}

/*This is for the search bar*/
.short {
    width: 10em;
	background-color: #FFF;
	margin-top: 0px;
    margin-bottom: 6px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 11px;
    text-decoration: none;
    text-align: left;
    position: relative;
    behavior: url(styles/PIE.php);
    border: 2px solid #AAA;
}

/*This is for the radius button*/
#radiusSelect{
	width: 10em;
	background-color: #0E76AE;
	margin-top: 0px;
    margin-bottom: 6px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 11px;
    text-decoration: none;
    text-align: left;
	color: #FFF;
    position: relative;
    behavior: url(styles/PIE.php);
    border: 2px solid #AAA;
}

#locationSelect{
	width: 10em;
	background-color: #0E76AE;
	margin-top: 0px;
    margin-bottom: 6px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 11px;
    text-decoration: none;
    text-align: left;
	color: #FFF;
    position: relative;
    behavior: url(styles/PIE.php);
    border: 2px solid #AAA;
}

#mapLocations{
	width: 20em;
}
.tiny {
    width: 3em;
}

/*This changes the buttons in the site*/
input[type=submit],input[type=reset],input[type=button], button {
    padding: .6em;
    background-color: #0E76AE;
    color: #FFF;
	text-decoration: none;
}

    input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover, button:hover {
        background-color: #3C3C3C;
        color: #FFF;
    }

form ul, ul.form {
    list-style-type: none;
    padding: 0;
}

    form ul label, ul.form label {
        display: inline-block;
        width: 10em;
        font-weight: bold;
        font-size: 1.4em;
    }

    form ul li, ul.form li {
    }

        form ul li:last-child, ul.form li:last-child {
            padding-left: 10em;
        }
		
		

/*end Forms*/
/* Login Specific*/


#loginHolder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 600; 
    background-color: rgba(49, 49, 54, 0.83);
    display: none;
}
.h3{
	
	text-align: center;
	margin-left:-153px;
	
	
}
.bg-primary{
	margin-left: 11px;
	background-color: #0E76AE;
}


    #loginHolder #login {
        margin: auto;
        width: 400px;
        margin-top: 10%;
        background-color: #0E76AE;
        color: #FFF;
        border-radius: 1em;
    }

        #loginHolder #login h2 {
            color: #FFF;
            padding: .5em 0 0 1em;
        }

form ul.login {
    margin: 1em .2em 1.2em .2em;
    color: #000;
}

    form ul.login input[type=text], form ul.login input[type=password] {
        font-size: .8em;
    }

    form ul.login li {
        padding-top: .8em;
    }

        form ul.login li label {
            width: 5em;
            margin-left: 50px;
        }

form ul li:first-child {
    border-radius: .8em .8em 0 0;
    background-color: #FFF;
}

form ul.login li:nth-child(2) {
    border-radius: 0 0 .8em .8em;
    background-color: #FFF;
}

form ul.login li:nth-child(3) {
    float: left;
}

form ul.login li:last-child {
    text-align: center;
}

form ul li:last-child input {
    margin: .2em;
}

form ul.login a {
    display: block;
    height: 4em;
    color: #FFF;
    padding-left: 35px;
}

/*End Login Specific*/

#importWizardData {
    margin-bottom: 75px;
    width: 100%;
}

    #importWizardData fieldset label {
        text-align: left;
        display: block;
    }

    #importWizardData th {
        vertical-align: bottom;
    }

    #importWizardData fieldset select {
        width: 100%;
    }

    #importWizardData fieldset {
        border-color: #333;
        background-color: #0E76AE;
        color: #FFF;
    }

        #importWizardData fieldset dd {
            border: 1px solid #F0F;
            border: 0;
            margin: 0;
        }

        #importWizardData fieldset legend {
            background-color: #333;
            color: #FFF;
            border-radius: 3px;
            padding: .3em;
            width: 95%;
        }

    #importWizardData .selected {
        background-color: #d5e4eb;
    }

    #importWizardData .skipped {
        background-color: #EEE;
        color: #AAA;
    }

    #importWizardData .selected .ignored {
        background-color: #e9c7c7;
        color: #826e6e;
    }

    #importWizardData .selected .highlighted {
        background-color: #c7e9cb;
    }

    #importWizardData .marked td {
        font-weight: bolder;
        font-variant: small-caps;
        font-size: 1.2em;
        text-decoration: underline;
    }

.tableButtons {
    padding: 20px;
    background-color: #DDD;
    border: 3px solid #AAA;
    border-radius: 20px;
    position: fixed;
    bottom: 15px;
    left: 45%;
}

.scrollableTableHolder {
    height: 400px;
    overflow: auto;
}
/* Nav*/

.backLink {
    color: #FFF;
    display:inline-block;
    font-size: 1.1em;
    background-color: #33F;
    padding: .3em;
    border: 1px solid #AAA;
    margin: .2em;
    text-decoration: none;
}
    
.backLink:hover {
    color:#333;
    background-color: #bbdaf7;
	text-decoration: none;
}

#nav {
    z-index: 500;
}

    #nav .footer {
        margin-left: 30px;
    }

    #nav h1 {
        font-size: 1em;
        margin-left: 1em;
    }

    #nav h2 {
        font-size: 1em;
        font-weight: normal;
    }

        #nav h2:after {
         //   content: "+";
          //  font-size: .8em;
          //  vertical-align: sub;
          //  position: absolute;
          //  bottom: 0;
          //  right: 0;
          //  padding-right: .5em;
        }

    #nav ul {
        list-style: none;
        padding: 0;
       // width: 150px;
       // border: 1px solid #000;
        z-index: 501;
    }

    #nav > ul {
        margin-left: 2em;
        border-radius: 15px;
    }

    #nav ul ul {
        display: none;
        position: absolute;
        top: 0px;
        left: 194px;
        border-radius: 0 15px 15px 0;
    }

    #nav li {
        position: relative;
        z-index: 502;
    }

        #nav li a, #nav li h2 {
            margin: 0;
            display: block;
            min-height: 1.5em;
            padding: .5em;
            background-color: #0E76AE;
            color: #ffd955;
            text-decoration: none;
            padding-left: 40px;
        }

        #nav li a {
            padding-top: 15px;
            color: #FFF;
            min-height: 25px;
        }

        #nav li:first-child > a, #nav li:first-child > h2 {
            border-radius: 14px 14px 0 0;
        }

        #nav li:last-child > a, #nav li:last-child > h2 {
            border-radius: 0 0 14px 14px;
        }

    #nav ul ul li:first-child > a {
        border-radius: 0 14px 0 0;
    }

    #nav ul ul li:last-child > a {
        border-radius: 0 0 14px 0;
    }

   #nav li:hover > a, div#nav li:hover > h2 {
      //  background-color: #3C3C3C;
    }

    #nav li:hover ul {
       // display: block;
    }

        #nav li:hover ul ul {
         //   display: none;
        }

    #nav ul ul li {
     //   border-left: 25px solid #3C3C3C;
    }

.home a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left 5px;
}

.login a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -63px;
}

.add_source a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -415px;
}

.edit_source a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -485px;
}

.add_site a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -555px;
}

.edit_site a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -625px;
}

.add_variable a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -695px;
}

.edit_variable a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -765px;
}

.add_method a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -835px;
}

.edit_method a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -905px;
}

.add_user a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -135px;
}

.edit_user a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -205px;
}

.change_authority a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -275px;
}

.remove_user a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -345px;
}

.add_single_value a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -975px;
}

.add_multiple_value a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -1045px;
}

.import_data a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -1115px;
}

.search a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -1255px;
}

.help a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -1325px;
}

.versions a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -1395px;
}

.aliases a {
    background: transparent url(../../images/icon-sprite-medium.png) no-repeat left -1465px;
}

.transparentNav {
	background-color:#FFF;
	border-color:#FFF;
	padding-top:60px;	
	padding-right:0px;
	padding-left:0px;
}

#navbarCollapse{
	padding-top:0px;
	padding-right:0px;
	padding-left:0px;
}

/*This is the for the navigation box on the left*/
#navbarCollapse li a, #navbarCollapse li h2 {
            display: block;
            min-height: 1.5em;
            padding: .5em;
            background-color: #0E76AE;
            color: #ffd955;
            text-decoration: none;
            padding-left: 40px;

        }

/*This one changes the sub-profile buttons in the left menu*/
#navbarCollapse ul ul li a, #navbarCollapse ul ul li h2 {
			margin-left:-40px;
			padding-top: 15px;
            color: #FFF;
            min-height: 25px;
        }
		
#navbarCollapse li:first-child > a, #navbarCollapse li:first-child > h2 {
            border-radius: 14px 14px 0 0;
        }

        #navbarCollapse li:last-child > a, #navbarCollapse li:last-child > h2 {
            border-radius: 0 0 14px 14px;
        }

    #navbarCollapse ul ul li:first-child > a {
        border-radius: 7px 7px 0 0;
    }

    #navbarCollapse ul ul li:last-child > a {
        border-radius: 0 0 7px 7px;
    }

   #navbarCollapse li:hover > a, div#navbarCollapse li:hover > h2 {
        background-color: #3C3C3C;
    }
	
/*end Nav*/


/* Pop UP*/
#popUp {
    border: 2px solid #333;
    position: absolute;
    z-index: 1000;
    background-color: #FFF;
    border-radius: 0 10px;
    max-width: 300px;
    display: none;
}

    #popUp #popTitle {
        background-color: #0E76AE;
        color: #FFF;
        border-radius: 0 6px 0 0;
        margin: 0;
        padding-left: 1em;
        position: relative;
    }

    #popUp #popMessage {
        padding: 1em;
        font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }

    #popUp #popClose {
        background-color: #333;
        position: absolute;
        top: 0;
        right: 0;
        font-size: .7em;
        display: block;
        border: 1px solid #333;
        padding: .2em .3em .2em .4em;
        border-radius: 3px;
        cursor: pointer;
    }

        #popUp #popClose:hover {
            color: #AAA;
        }

    /* Pop UP End*/

    /*Messages*/
    #popUp.error #popTitle {
        background-color: #A00;
    }

.instructions {
    border: 2px solid #AAA;
    padding: 1em;
    margin: .5em;
    border-radius: 1.2em;
}

ul.messages {
    list-style-type: none;
    padding: 0;
    border: 1px solid #AAA;
}

.success, .warning, .error {
    border-radius: 0 1em 1em 1em;
    padding: 1em;
    padding-left: 40px;
    margin: 1em;
    font-weight: bold;
}

.success {
    background: #EFE url(../../images/message-sprites.png) no-repeat 10px 10px;
    border: 3px solid #0A0;
    color: #060;
}

.warning {
    background: #FFE url(../../images/message-sprites.png) no-repeat 10px -190px;
    border: 3px solid #AA0;
    color: #660;
}

.error {
    background: #FEE url(../../images/message-sprites.png) no-repeat 10px -390px;
    border: 3px solid #A00;
    color: #600;
}

.messages .notice {
    margin-left: 1.3em;
}

/*END Messages*/
.partialList {
    background-color: #DDD;
    border-collapse: collapse;
}

    .partialList tr {
    }

    .partialList tbody tr:last-child {
        position: relative;
        background: transparent url(../../images/torn-paper.png) repeat-x left 28px;
        height: 71px;
    }

        .partialList tbody tr:last-child td {
            vertical-align: top;
            padding-left: 3em;
        }



#progressbox {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    width: 200px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
}

#progressbar {
    height: 20px;
    border-radius: 3px;
    background-color: #003333;
    width: 1%;
}

#statustxt {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
}

.masthead{
  max-width:auto;
}
.img{
	width:100%;
	height:auto;
	
}

.mainContainer{	
	background-color:#FFF;
	margin-top:20px;
	
}

/*This one doesn't appear to change anything*/
/*.nav_nav-tabs_nav-stacked{
	
	margin-top: 0px;
    margin-bottom: 6px;
    -moz-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    box-shadow: inset 0px 0px 0px 0px #bbdaf7;
    background-color: #0E76AE;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 11px;
    text-decoration: none;
    text-align: left;
    position: relative;
    behavior: url(styles/PIE.php);
    border: 2px solid #AAA;
	
}*/

/*Controls the left and right side containers*/
.col-md-3{
	background-color: #FFF;
	
}

@media (min-width: 768px) {
    .container{
		width:auto;
		

    }
	.mainContainer{
		  width:auto;
	}
}

/*size for the navigation menu on the left*/
@media (min-width: 992px) {
    #navArea{
        max-width: 300px;

    }
}


.footer{
	background-color:#FFF;
	color:#000;
	font:Arial, Helvetica, sans-serif;
	size:2;
	text-align:center;	
	text-decoration: none;
	
}



@media (min-width:768px){
	.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;
	border-radius:4px 4px 0 0}
	.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus{border-bottom-color:#fff}}.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}
@media (min-width:768px){.navbar{border-radius:4px}}
 
@media (min-width:768px){
	.navbar-header{
		float:left;
		
	}

}
 
.navbar-collapse{
	padding-right:15px;
	padding-left:15px;
	overflow-x:visible;
	-webkit-overflow-scrolling:touch;
	border-top:1px solid transparent;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
	
	
}
.navbar-collapse.in{overflow-y:auto}
 
/*This changed the navbar on the left*/
@media (min-width:100px){
	.navbar-collapse{
		width:auto;
		border-top:0;
		-webkit-box-shadow:none;
		box-shadow:none;
		
		}
	.navbar-collapse.collapse{
	display:block!important;
	height:auto!important;
	padding-bottom:0;
	overflow:visible!important
}
.navbar-collapse.in{
	overflow-y:visible
}
/* make sidebar nav vertical*/
@media (min-width: 1200px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
	
	
  }
  .sidebar-nav .navbar{
	border:0px;
  
  }
  
  
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.jqx-widget{
    width:94%;
    float:left;
}

.form-control{
    width:94%;
    float:left;
	margin-left: 11px;
}
/*Helper lines*/
div.form-group>div.col-sm-10>span.em
{
    white-space: pre;
}

.forceoutline
{
    border:1px solid;
    border-radius: 25px;
    text-align: center;
}

.chart-wrapper {
 position: relative;
    /*padding-bottom: 40%;*/
}

.chart-inner {
position: absolute;
    width: 100%;
}
